* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

main {
    padding: 0px;
}

header {
    background-color: #cad2da;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;
    right: 0;
}

footer p {
    margin-bottom: .25rem;
}

footer {
    background-color: #e7d8d8;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: end;
    bottom: 0;
    width: 100%;
    justify-content: space-around;
}

nav ul {
    list-style: none;
    display: flex;
    text-decoration: none;
}

nav a {
    text-decoration: none;
}

a:hover {
    color: #4a4f57;
}

.card {
    margin: 50px;
}

nav ul li a {
    margin: 0px;
    padding-top: 60px;
}

a {
    padding: 1.5em;
    text-decoration: none;
    color: #0c0c0c;
    justify-content: center;
    font-size: 1.5em;
    text-align: center;
    display: flex;
}


h3,
p {
    display: flex;
    text-align: center;
    justify-content: center;
}

h3,
h1 {
    padding-top: 20px;
}

h1 {
    font-size: 2.5em;
    display: flex;
    text-align: center;
    justify-content: center;
}

h3 {
    font-size: 2.5em;
    display: flex;
    text-align: center;
    justify-content: center;
}

.bild {
    padding: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
}

#active {
    color: white;
}

.logo {
    width: 60px;
    justify-content: center;
    display: flex;
}

#zli p {
    border: 2px solid black;
    padding: 10px;
    background-color: #cad2da;
    margin: 0px;
}

#zli {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
}

div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 25%;

}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.video {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 25%;

}

div.video:hover {
    border: 1px solid #777;
}

div.video video {
    width: 100%;
    height: auto;
}

.mitte {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-text {
    text-align: left;
}